
body {
    font-family: sans-serif;
    background-color: #0D420D;
    color: white;
}

img{
    height: 75px;
    width:75px;
    border-radius: 125px;
    text-align: center;
    justify-content: center;
}
.container{
    width:1250px;
    margin: 10px auto;
    font-size: 20px;
    padding: 5px;
    
}

h1{
    text-align: center;
    border:5px double white;
    margin-left: 175px;
    margin-right: 175px;
    
} 

nav a{
    position: absolute;
    left: -80px;
    transition: 2.3s;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    box-shadow: black 0 3px 3px 0;
    background-image: linear-gradient(to left,lime,aqua );
}

nav a:hover{
    left: 0;
}

.more{
top: 60px;
    background-color:  #4CAF50;
}

.as{
  top: 120px;
    background-color:  #2196F3;
}

.contacts{
  top:90px;
    background-color:  #2196F3;
}

.f{
    display: flex;
    justify-content: center;
}

.f :hover{
    opacity: 0;
    transition: 1.8s;
}

.a{
    text-align: center;
    border: 5px double white;
    border-radius: 125px;
}

.j{
    /* float: right; */
    position: fixed;
    left: 20px;
    background-color: royalblue;
    width: 220px;
    height: 220px;
    border-radius: 53px;
    box-shadow: black 3px 8px 8px 5px;
}

.j:hover{
    opacity: 0;
    transition: 1.8s;
}

.m{
  margin-left:175px ; 
  box-shadow: black 3px 8px 8px 5px;
  background-color: teal;
  
}

span{
    color: aqua;
}
table{
    margin: 10px auto; 
    font-size: 25px;
    padding: 5px;
}
td{
    border:2px double white; 
    border-radius: 12px;
}

.t{
 box-shadow: black 3px 8px 8px 5px;
 background-color: teal;   
}

h2{
    text-align: center;
}

.l{
  background-color: teal; 
  box-shadow: black 3px 8px 8px 5px; 
}

ul{
list-style-type:square ;
}

footer{
    background-color: teal;
    box-shadow: black 3px 8px 8px 5px;
}
